<p><strong>User Name</strong>{{name}}</p>
<p><Strong>ID</Strong>{{id}}</p>
<p><Strong>Age</Strong>{{age}}</p>
<section id="sec1" class="vh-100 bg-danger text-white">section 1</section>
<section id="sec2" class="vh-100 bg-black text-white">section 2</section>
<section id="sec3" class="vh-100 bg-dark text-white">section 3</section>
<section id="sec4" class="vh-100 bg-info text-white">section 4</section>
<section id="sec5" class="vh-100 bg-light text-white">section 5</section>
<section id="sec6" class="vh-100 bg-dark text-white">section 6</section>
